## <font size='5' color='blue'>Introduction</font>

- This notebook demonstrates how to use mljar auto ml to create a model that predicts which passengers survived the Titanic shipwreck.
- The data is available on [kaggle](https://www.kaggle.com/c/titanic).
![](https://storage.googleapis.com/kaggle-media/welcome/screen1.png)

## <font size='4' color='blue'>Import Required Packages</font>

In [27]:
import pandas as pd
from supervised.automl import AutoML
from sklearn.metrics import accuracy_score

## <font size='4' color='blue'>Getting basic idea </font>

In [28]:
df_train = pd.read_csv("./tests/data/Titanic/train.csv")
df_test = pd.read_csv("./tests/data/Titanic/test_with_Survived.csv")

In [29]:
print(f"The train data set contains {df_train.shape[0]} rows and {df_train.shape[1]} cols")
print(f"The test data set contains {df_test.shape[0]} rows and {df_test.shape[1]} cols")

The train data set contains 891 rows and 12 cols
The test data set contains 418 rows and 12 cols

In [30]:
df_train.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

## <font size='4' color='blue'>AutoML </font>

In [31]:
X_train,y_train = df_train.drop(['Survived'],axis=1),df_train['Survived']
X_test,y_test = df_test.drop(['Survived'],axis=1),df_test['Survived']

In [32]:
a = AutoML(total_time_limit=60*10)
a.fit(X_train,y_train)

Create directory AutoML_10
AutoML task to be solved: binary_classification
AutoML will use algorithms: ['Baseline', 'Linear', 'Decision Tree', 'Random Forest', 'Xgboost', 'Neural Network']
AutoML will optimize for metric: logloss
1_Baseline final logloss 0.6667749040921279 time 0.02 seconds
2_DecisionTree final logloss 0.6485042426940747 time 8.44 seconds
3_Linear final logloss 0.6002577248637675 time 4.77 seconds
4_Default_RandomForest final logloss 0.45266443844194615 time 22.85 seconds
5_Default_Xgboost final logloss 0.44750630775374683 time 7.19 seconds
6_Default_NeuralNetwork final logloss 0.7308227851351684 time 55.3 seconds
Ensemble final logloss 0.43277546078758955 time 0.58 seconds

## <font size='4' color='blue'>Make prediction on test </font>

In [33]:
predictions = a.predict(X_test)
predictions.sample(5)

There are columns ['Fare'] with missing values which didnt have missing values in train dataset.
There are columns ['Fare'] with missing values which didnt have missing values in train dataset.
There are columns ['Fare'] with missing values which didnt have missing values in train dataset.

     prediction_0  prediction_1  label
98       0.734534      0.265466      0
298      0.888083      0.111917      0
303      0.906262      0.093738      0
289      0.907420      0.092580      0
160      0.343155      0.656845      1

## <font size='4' color='blue'>Evaluation </font>

In [41]:
print(f"Model scores {accuracy_score(y_test,predictions.label):.3f} on kaggle test dataset")

Model scores 0.787 on kaggle test dataset